#!/usr/bin/env php
<?php

use WvnderlabAgency\CodeStyles\Configuration;

($config = require getcwd() . '/vendor/wvnderlab-agency/php-codestyles/.php-cs-fixer.php')
    ->setRiskyAllowed(true)
    ->setRuleset(Configuration::RULESET_SYMFONY)
    ->exclude([
        'tmp',  // exclude temp files
    ]);

return $config;
